body{
    text-align: center;
    background-color: ghostwhite;
    margin-top:38px;
}


a:link    {color:seagreen; background-color:transparent; text-decoration:underline}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}



.image-frame img {
    margin: 0;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
}


h1{
   font-family: 'Kumar One', cursive;
    font-size: 5em;
    color: seagreen;    
    margin: 0;
}

h4{
    font-family: 'Kumar One', cursive;
    font-size: 2.5em;
    line-height: 1.4em;
    color: seagreen;
    margin-bottom: 30px;
}
h6{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: seagreen;
    font-style: italic;
    font-size: 20px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    color: seagreen;
    margin: 10px 0;
    
}

.imgshadow{
    
    border: 0;
    padding: 0;
}

.zero{
    margin: 0 0 10px 0;
}

.row.line{
    border-top-style: solid;
    border-top-color: #eed7a5;
    border-top-width: 1px;
    border-top-style: dotted;
    padding: 10px 0;
    border-bottom-style: solid;
    border-bottom-color: #eed7a5;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 20px;
}

.alighR {
    
}
.alighL {
    
}

input{
    padding: 12px;
    width: 240px;
    text-align: center;
    background-color: #e8e8e8;
    border: 1px solid seagreen;
}

.btn-danger{
    padding: 10px;
    font-size: 1.5em;
    margin-top: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.highlight {
    color: seagreen;
    margin: 0 40px;
    padding: 10px;
    line-height: 30px;
}

.image-frame img{
    margin-bottom:10px
}

.pushthefeed{
    margin-bottom: 40px;
}

.instructions{
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.footer{
    margin: 30px 0 10px 0;
}

.footerText{
    text-align: left; 
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.doIt{
    margin: 5px 0;
}

.smbut{
    margin: 10px 0 40px 0;

}